body {
    font-family: 'Chivo';
    background-color: #e3dfff;
    color: #222222;
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 5em;
    margin-top: 30em
}

p {margin-bottom: 1.3em; font-size: 1.2em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
  font-family: 'Work Sans';
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {font-size: 3.375em;}

h3 {font-size: 2.25em;}

h4 {font-size: 1.5em;}

small, .font_small {font-size: 0.667em;}

.font-display-unit {
    background-color: #222222;
    color: #e3dfff;
    width: 48%;
    padding: 2em;
    border-radius: 15px 15px 5px 5px;
}

.flex {
    display: flex;
}

.logo-display {
    width: 33.33333%;
    height: 33.33333%;
}

.colorbar {
    text-transform: uppercase;
    width: 100%;
    padding: 2em;
    color: #e3dfff;
}

#header {
    background-repeat: repeat;
    position: absolute;
    padding-top: 10em;
    padding-left: 20em;
    padding-right: 20em;
    top: 0;
    left: 0;
    background-attachment: fixed;
    box-shadow: inset 0px -42px 42px -42px rgba(0,0,0,0.75);
}


/* responsive! */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      body {
        margin-left: 5em;
        margin-right: 5em;
      }

      p {margin-bottom: 1.3em; font-size: 1.5em;}

      .font-display {
          flex-direction: column
      }

      .colorbar {
          width: calc(100% - 4em)
      }

      .work-sans-display {
          margin-left: 0 !important
      }

      .chivo-display {
          margin-bottom: 4em
      }

      .font-display-unit {
          width: calc(100% - 4em)
      }
}